{% extends "base.html" %}

{% block content %}
    {% set bg = ["section-white", "section-green", "section-purple", "section-red"] %}
    {%- for page in section.pages %}
    {% if page.extra['header'] %}
    <header class="mt3 mb6 w-100 mw-none ph3 mw8-m mw9-l center">
        <div class="flex flex-column flex-row-l">
            <div class="w-70-l mw8-l">
                {{ page.content | safe }}
            </div>
            <div class="w-30-l flex-column pl0-l pr0-l pl3 pr3">
                <a class="button button-download ph4 mt0 w-100" href="/">
                    Get Started
                </a>
            </div>
        </div>
    </header>
    {% else %}
    {% set idx = loop.index % 4 %}
    <section class="{{bg[idx]}}">
        <div>
            <header class="pb0">
                <h2>{{ page.title }}</h2>
                <div class="highlight"></div>
            </header>

            {{ page.content | safe }}
        </div>
    </section>
    {% endif %}
    {% endfor -%}
{% endblock content %}
