<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>RGB smart contracts</title>
    <link rel="stylesheet" href="tachyons-ext.css">
    <link rel="stylesheet" href="front.css">
</head>

<body>
<nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr3-ns pb3">
    <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
        <a href="/" class="brand">
            <img class="v-mid ml0-l" alt="RGB Logo" src="rgb-logo-blk.svg">
        </a>
    </div>
    <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
        <li class="tc pv2 ph2 ph4-ns flex-20-s">Install</li>
        <li class="tc pv2 ph2 ph4-ns flex-20-s">Learn</li>
        <li class="tc pv2 ph2 ph4-ns flex-20-s">Tools</li>
        <li class="tc pv2 ph2 ph4-ns flex-20-s">Governance</li>
        <li class="tc pv2 ph2 ph4-ns flex-20-s">Community</li>
        <li class="tc pv2 ph2 ph4-ns flex-20-s">Blog</li>
    </ul>
</nav>
<main>
    {%- for page in section.pages %}
        {% if page.extra['header'] %}
            <header class="mt3 mb6 w-100 mw-none ph3 mw8-m mw9-l center">
                <div class="flex flex-column flex-row-l">
                    <div class="w-70-l mw8-l">
                        {{ page.content | safe }}
                    </div>
                    <div class="w-30-l flex-column pl0-l pr0-l pl3 pr3">
                        <a class="button button-download ph4 mt0 w-100" href="/learn/get-started">
                            Get Started
                        </a>
                    </div>
                </div>
            </header>
        {% else %}
            <section class="{{page.extra['color']}}">
                <div class="{{page.extra['class']}}">
                    <header class="pb0">
                        <h2>{{ page.title }}</h2>
                        <div class="highlight"></div>
                    </header>

                    {{ page.content | safe }}
                </div>
            </section>
        {% endif %}
    {% endfor -%}
</main>
</body>

</html>
